@import url("https://use.typekit.net/szz1yau.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: #2CDA9D;
  --background-end-rgb: #22BEE6;
  --primary-color: #2CDA9D;
  --dark-primary-color: #22BEE6;
  --light-primary-color: #2CDA9D;
  --accent: #24F06F;
  --divider: #22E633;
  --primary-text: #FFFFFF;
  --secondary-text: #000000;
  --disabled: #EBEBE4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,html {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', serif;
  overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
p { @apply font-Roboto }

h1 { @apply text-3xl }

h2 { @apply text-2xl}

h3 { @apply text-xl}

h4 { @apply text-lg}

h5
{
  @apply
  text-md
  max-[1027px]:text-center max-[1027px]:text-sm
}

p
{
  @apply
  text-base
}



.layout
{
  @apply
  bg-gradient-to-r -from--background-start-rgb -to--background-end-rgb
}



.navBar
{
  @apply
  w-full flex justify-between z-30
  tablet:absolute
}

.dashboardNav
{
  @apply
  w-screen flex flex-col
}


.mobileNav
{
  @apply
  w-full h-16 flex justify-end
}

.desktopNav {
  @apply
  flex max-[767px]:hidden
  laptop:justify-between

}

.menuIcon
{
  @apply
  mr-2 text-white w-10 h-10
  phone:w-12 phone:h-12
}

.logoContainer
{
  @apply
  flex -text--primary-text
  xs-phone:font-bold xs-phone:w-24 xs-phone:h-16 max-[700px]:-bg--light-primary-color xs-phone:justify-center xs-phone:flex-col
  phone:w-full phone:font-bold phone:tracking-widest
  tablet:w-1/2

}

.dashboardNavLogoContainer
{
  @apply
  flex flex-col h-16 font-bold -text--primary-text tracking-widest justify-center
  tablet:w-3/6 tablet:h-full tablet:self-center
  laptop:w-2/6
  desktop:w-1/5
}


.logo
{
  @apply
  phone:ml-4
  tablet:text-md

}

.navLinksContainer
{
  @apply
  w-1/2 flex justify-center items-center -text--primary-text
  max-[767px]:hidden
  tablet:justify-end tablet:mr-32
  laptop:w-1/5

}

.desktopLinksContainer
{
  @apply
  flex w-full
  tablet:w-2/5
  laptop:w-2/5 laptop:mr-24
  desktop:mr-80
}

.desktopNavLinks
{
  @apply
  flex w-full justify-around items-center text-sm text-white
  tablet:justify-evenly
  laptop:w-full
  desktop:justify-evenly desktop:text-md
  xl-screens:text-lg
}

.userIconContainer
{
  @apply
  flex flex-col w-1/6 justify-center items-center
}

.userIcon
{
  @apply
  w-12 h-12
}


/*UNAUTHENTICATED LANDING PAGE*/

.heroContainer
{
  @apply
  flex mt-32 h-screen
  phone:flex phone:flex-col phone:w-full phone:items-center
  tablet:w-full tablet:h-screen tablet:mt-0 tablet:flex
}


.heroSection
{
  @apply
  flex flex-col w-full h-60 justify-end
  phone:w-2/3
  tablet:h-full tablet:w-full tablet:absolute tablet:self-center

}

.contentContainer
{
  @apply
  w-full h-screen
  tablet:relative tablet:w-3/5 tablet:h-2/5 tablet:mb-28 tablet:flex tablet:flex-col tablet:justify-center tablet:ml-20
  desktop:w-2/5 desktop:ml-80

}

.heroTitle
{
  @apply
  -text--primary-text font-bold text-center tracking-wider
  xs-phone:leading-tight
  tablet:tracking-wider tablet:text-2xl tablet:text-left
}

.subHeadline
{
  @apply
  -text--primary-text
  max-[1028px]:hidden
  tablet:tracking-widest tablet:mt-2


}


.imageDiv {
  @apply
  flex justify-end
  tablet:absolute tablet:w-full tablet:h-full tablet:ml-12

}

.heroImage
{
  @apply
  max-[768px]:hidden
  tablet:w-full tablet:h-full
}

/*Button Group*/
.buttonGroupContainer
{
  @apply
  w-full flex flex-col justify-around items-center h-2/3 mt-10
  tablet:flex-row tablet:h-1/3 tablet:w-full tablet:justify-start tablet:mt-4
}

.button
{
  @apply
  w-3/4 h-1/3 hover:-border--dark-primary-color hover:border-4
  tablet:h-1/2 tablet:w-2/5 tablet:font-semibold
}

.primaryButton
{
  @apply
  -bg--light-primary-color -text--primary-text border-2 border-white mb-4
  tablet:mb-0 tablet:-bg--accent tablet:-text--secondary-text tablet:ml-4
}

.secondaryButton {
  @apply
  bg-white border-2 -border--accent
}


.loginContainer
{
  @apply
  absolute w-screen h-screen bg-black/[0.1]
}

.authInput
{
  @apply
  border-2 border-black

}


.dialogContainer
{
  @apply
  w-full h-full

}

.dialogContent
{
  @apply
  flex flex-col w-full h-40 justify-around

}

.dialogTitle
{
  @apply
  -text--primary-color text-center font-semibold text-3xl
  tablet:-text--accent
}


.dialogErrorMessage {
  @apply
  hidden text-red-600
}

.logInAuthContainer
{
  @apply
  flex flex-col w-full h-3/4 items-center
}


.googleBtn {
  @apply
  w-full bg-[#4989F4] -text--primary-text hover:bg-[#4989F4]/[0.9] hover:border-2 -border--accent
}

.magicLinkBtn
{
  @apply
  w-full text-sm mt-2 hover:border-2 -border--accent
}

.btnIcon
{
  @apply
  mr-2
}

.logInSubmitBtn {
  @apply
  w-full h-full mt-16 hover:bg-black
  tablet:-text--primary-text tablet:font-semibold
}

/*------------------------------------MAIN DASHBOARD------------------------------------*/
.dbButtonGroup
{
  @apply
  flex w-full justify-around mt-4
  phone:mt-0 h-20
  tablet:w-5/6 tablet:mt-10 tablet:justify-evenly
  laptop:self-start

}

.primaryDbButton
{
  @apply
  w-1/3 -bg--light-primary-color border-none
  tablet:mt-2 tablet:mb-2 tablet:-bg--accent tablet:-text--primary-text tablet:text-base tablet:font-semibold
  desktop:text-md
}

.secondaryDbButton
{
  @apply
  w-1/3 -bg--light-primary-color
  tablet:mt-2 tablet:mb-2 tablet:font-semibold tablet:text-base tablet:-text--secondary-text tablet:border-2 tablet:-border--secondary-text
  desktop:text-md desktop:bg-white desktop:border-4 desktop:-border--accent
}

.dashboardContent
{
  @apply
  flex flex-col w-full h-3/4 mt-4
  tablet:h-full

}

.customerContainer
{
  @apply
  overflow-y-auto
  flex w-full h-5/6
  tablet:mt-20 tablet:items-stretch
  desktop:w-5/6 desktop:mt-32
}

.cardContainer
{
  @apply
  flex flex-col overflow-auto basis-1/2 w-5/6 h-1/6 border-2 -border--dark-primary-color
  tablet:w-1/2 tablet:-border--accent
  desktop:h-2/6
}

.detailsSection
{
  @apply
  flex
  desktop:mt-2
}

.contactDetails
{
  @apply
  w-full
}

.viewDetailsBtn
{
  @apply
  laptop:text-base laptop:-text--secondary-text laptop:bg-[#686868]/[0.4] laptop:ml-4 laptop:w-3/4
  desktop:w-1/2 desktop:h-1/5
}

.contactTitle
{
  @apply
  tablet:text-lg
  laptop:text-xl
  desktop:text-2xl desktop:font-semibold desktop:tracking-wider
}

.invoiceButtonContainer
{
  @apply
  flex flex-col w-full ml-4
  tablet:items-center
  desktop:w-2/5
}

.invoiceButton
{
  @apply
  -bg--accent border-none font-semibold text-base
  tablet:w-3/4 tablet:justify-center tablet:items-center tablet:text-md
  laptop:w-1/2 laptop:text-lg
  desktop:w-full desktop:-text--primary-text desktop:text-xl
}

.divider
{
  @apply
  desktop:mt-24
}








