@import url("https://use.typekit.net/szz1yau.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: #2CDA9D;
  --background-end-rgb: #22BEE6;
  --primary-color: #2CDA9D;
  --dark-primary-color: #22BEE6;
  --light-primary-color: #2CDA9D;
  --accent: #24F06F;
  --divider: #22E633;
  --primary-text: #FFFFFF;
  --secondary-text: #000000;
  --disabled: #EBEBE4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,html {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', serif;
  overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
p { @apply font-Roboto }

h1 { @apply text-3xl }

h2 { @apply text-2xl}

h3 { @apply text-xl}

h4 { @apply text-lg}

h5
{
  @apply
  text-md
  max-[480px]:text-center max-[480px]:text-sm
}

p
{
  @apply
  text-base
}



.layout { @apply bg-gradient-to-r -from--background-start-rgb -to--background-end-rgb}



.navBar
{
  @apply
  w-full flex justify-between z-30
  phone:text-base
  laptop:absolute
}

.dashboardNav
{
  @apply
  w-screen flex flex-col
}


.mobileNav
{
  @apply
  w-full h-16 flex justify-end
}

.desktopNav {
  @apply
  flex max-[768px]:hidden
  desktop:justify-between
}




.menuIcon
{
  @apply
  mr-2 text-white w-10 h-10
}

.logoContainer
{
  @apply
  flex -text--primary-text
  phone:font-bold phone:w-24 phone:h-16 max-[700px]:-bg--light-primary-color phone:justify-center phone:flex-col
  tablet:w-full tablet:font-bold tablet:tracking-widest
  laptop:w-1/2
}

.dashboardNavLogoContainer
{
  @apply
  flex flex-col h-16 font-bold -text--primary-text tracking-widest justify-center
  laptop:w-3/6
  desktop:w-2/6
  xl-screens:w-1/5
}


.logo
{
  @apply
  tablet:ml-4
}

.navLinksContainer
{
  @apply
  w-1/2 flex justify-center items-center -text--primary-text
  max-[768px]:hidden
  laptop:justify-end laptop:mr-32
  desktop:w-1/5
}

.desktopLinksContainer
{
  @apply
  flex w-full
  laptop:w-2/5
  desktop:w-2/5 desktop:mr-24
  xl-screens:mr-80
}

.desktopNavLinks
{
  @apply
  flex w-full justify-around items-center text-sm text-white
  laptop:justify-evenly
  desktop:w-full
  xl:xl-screens:justify-evenly
}

.userIconContainer
{
  @apply
  flex flex-col git branchw-1/6 justify-center items-center
}

.userIcon
{
  @apply
  w-12 h-12
}


/*UNAUTHENTICATED LANDING PAGE*/

.heroContainer
{
  @apply
  flex mt-32 h-screen
  tablet:flex tablet:flex-col tablet:w-full tablet:items-center
  laptop:w-full laptop:h-screen laptop:mt-0 laptop:flex
}


.heroSection
{
  @apply
  flex flex-col w-full h-60 justify-end
  tablet:w-2/3
  laptop:h-full laptop:w-full laptop:absolute laptop:self-center

}

.contentContainer
{
  @apply
  w-full h-screen
  laptop:relative laptop:w-3/5 laptop:h-2/5 laptop:mb-28 laptop:flex laptop:flex-col laptop:justify-center laptop:ml-20
  xl-screens:w-2/5 xl-screens:ml-80

}

.heroTitle
{
  @apply
  -text--primary-text font-bold text-center tracking-wider
  phone:leading-tight
  laptop:tracking-wider laptop:text-2xl laptop:text-left
}

.subHeadline
{
  @apply
  -text--primary-text
  max-[768px]:hidden
  laptop:tracking-widest laptop:mt-2


}


.imageDiv {
  @apply
  flex justify-end
  laptop:absolute laptop:w-full laptop:h-full laptop:ml-12

}

.heroImage
{
  @apply
  max-[768px]:hidden laptop:w-full laptop:h-full
}

/*Button Group*/
.buttonGroupContainer
{
  @apply
  w-full flex flex-col justify-around items-center h-2/3 mt-10
  laptop:flex-row laptop:h-1/3 laptop:w-full laptop:justify-start laptop:mt-4
}

.button
{
  @apply
  w-3/4 h-1/3 hover:-border--dark-primary-color hover:border-4
  laptop:h-1/2 laptop:w-2/5 laptop:font-semibold
}

.primaryButton
{
  @apply
  -bg--light-primary-color -text--primary-text border-2 border-white mb-4
  laptop:mb-0 laptop:-bg--accent laptop:-text--secondary-text laptop:ml-4
}

.secondaryButton {
  @apply
  bg-white border-2 -border--accent
}


.loginContainer
{
  @apply
  absolute w-screen h-screen bg-black/[0.1]
}

.authInput
{
  @apply
  border-2 border-black

}


.dialogContainer
{
  @apply
  w-full h-full

}

.dialogContent
{
  @apply
  flex flex-col w-full h-40 justify-around

}

.dialogTitle
{
  @apply
  -text--primary-color text-center font-semibold text-3xl
  laptop:-text--accent
}


.dialogErrorMessage {
  @apply
  hidden text-red-600
}

.logInAuthContainer
{
  @apply
  flex flex-col w-full h-3/4 items-center
}


.googleBtn {
  @apply
  w-full bg-[#4989F4] -text--primary-text hover:bg-[#4989F4]/[0.9] hover:border-2 -border--accent
}

.magicLinkBtn
{
  @apply
  w-full text-sm mt-2 hover:border-2 -border--accent
}

.btnIcon
{
  @apply
  mr-2
}

.logInSubmitBtn {
  @apply
  w-full h-full mt-16 hover:bg-black
  laptop:-text--primary-text laptop:font-semibold
}




